/* 슬라이드 영역 */
.slideshow {
  min-width: 1400px;
  height: 570px;
}
.slideshow .carousel-indicators > button::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  width: 100%;
  height: 3px;
  display: block;
}
.slideshow .carousel-control-prev-icon::after,
.slideshow .carousel-control-next-icon::after {
  position: absolute;
  z-index: -1;
  top: -24px;
  left: -24px;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  transform: rotate(45deg);
}
.slideshow .carousel-control-prev-icon,
.slideshow .carousel-control-next-icon {
  position: relative;
}
